@import "bootstrap";
$main-green:#00a460;
$light-green:#99dbbf;

/* Admin Theme */
$main_blue:#2C3E50;
$secondary_green:#90C695;

/* Secondary Menu */
$main_grey:#ECF0F1;
$secondary_grey: #BDC3C7;
$main_red:#F64747;
body{
  font-family:OpenSansRegular !important;
}
secondary-header{
    position:relative !important;
}

header,admin-header,secondary-header{
  background:white;
  position:fixed;
  width:100%;
  z-index:10000;
  #logo{
    background:white;
    width:100%;
    padding:2%;
    //height:10%;
  }
  nav#main,nav#admin,nav#secondary{
    @extend .navbar;
    @extend .navbar-default;
    background:$main-green !important;
    height:auto !important;
    padding:0.25% 15%;
    margin-bottom:0 !important;

    ul{
      @extend .nav;
      @extend .navbar-nav;
      margin-bottom:0 !important;
      li{
        a{
          color:#ffffff !important;
        }

      }
      li.active{
        a{
          background:$light-green !important;
          font-weight:bold;
        }
      }
      li:hover{
        background:$light-green !important;
        font-weight:bold;
      }
    }
  }
  nav#admin{
    padding:0.25%;
    background:$main_blue !important;
    ul{
      li.active{
        a{
          font-weight:bold;
          background:none !important;
          color:$secondary_green !important;
        }
      }
      li:hover{
        font-weight:bold;
        color:$secondary_green !important;
        background:none !important;
      }
    }
  }
  nav#secondary{
    margin:0 !important;
    margin-bottom:10px !important;
    padding:0.1%;
    background:$main_grey !important;
    ul{
      li{
        a{
          color:black !important;
        }
      }
      li.active{
        a{
          font-weight:bold;
          background:none !important;
          color:$main_red !important;
        }
      }
      li:hover{
        font-weight:bold;
        color:$main_red !important;
        background:none !important;
      }
    }
  }
}

/* Content */
#content{
  width:100%;
  padding:5% 5% 0 5%;

  /* Carousel */
  #carousel-container{
    width:100%;
    /* height:40% !important; */
  }
}
/* Content Class */
.content{
  h1{
    color:$main-green;
  }
}
/* Full Size */
.content.full{
  @extend .col-md-12;
}
/* Small Size*/
.content.small{
  @extend .col-md-4;
  h1{
    font-size:30px;
  }
}
/*  */
#side-menu{
  @extend .col-md-4;
  h1{
    color:$main_green;
  }
  nav{
    @extend .nav;
    @extend .nav-pills;
    @extend .nav-stacked;
    a.active{
      background:$secondary_green !important;
      color:white !important;
    }
    a{
      background:none !important;
      .active{
        background:$secondary_green !important;
        color:white !important;
      }
    }
  }
}
#side-content{
  @extend .col-md-8;
  h1{
    color:$main_green;
  }
}

/* Table */
table{
  @extend .table;
  @extend .table-responsive;
  @extend .table-hover;
  thead{
    background:$secondary_green;
    color:white;
  }
}

.news-item{
  padding-bottom:3%;
  border-bottom: 1px solid #e5e5e5;
  .news-item-content{
    @extend .col-md-12;
  }
  .news-item-type{
    @extend .col-md-8;
    font-weight:bold;
    color:$main_green;
  }
  .news-item-date{
    @extend .col-md-4;
    font-style:italic;
    text-align:right;
  }
}
.news-item:last{
  border:0;
}
#map{
  @extend .col-md-12;
  #map_canvas{
    height:400p;
  }
}
.in_address{
  display:block;
}


/* Login */
#login-form{
  margin:auto;
  width:40%;
  padding:5%;
  box-shadow:0 0 5px 1px $main_green;
  .btn{
    background:$main_green;
    color:white;
  }
  .btn:hover{
    background:$light_green;
  }
  input[type='password']:focus,input[type='email']:focus{
    box-shadow:0 0 0.5px 0.5px $main_green;
    border-color:$main_green;
  }
}

/* Button Edits */
.btn{
  i{
    padding-right:5px;
  }
}
/* Custom Button Classes */
.btn-add{
  background:$secondary_green !important;
  color:white !important;
}
.btn-add:hover{
  background:$main_green;
  color:white !important;
}
span.article-actions{
  font-size:1em;
  float:right;
  a{
    padding:0 !important;
    background:none;
    @extend .btn;
    color:$secondary_grey;
  }
  a:hover{
    color:black;
  }
}
/* GLobal Item Style */
i{
  padding-right:5px;
}
/* Header Styles */
h1,h2,h3,h4,h5,h6{
  font-family:'Bree Serif',serif !important;

}
/* Label Styling */
span.label{
  font-family:OpenSansRegular !important;
  font-size:0.5em !important;
}
/* Panel Styling */
.main-heading{
  background: $main_grey !important;
}
.sub-heading{
  background: none !important;
}
.sub-panel{
  border:none !important;
  a{
    color:$main_blue;
  }
  a:hover{
    text-decoration:none;
    font-weight:bold;
    color:$main_red;
  }
}
/* Froala Editing */
.froala-editor, .froala-wrapper.f-basic{
  border-color:$main_blue !important;
}
