<h3>User Profile</h3>
<form class="inner">
	<div class="row">
		<div class="form-group col-md-2">
      		<label for="exampleInputEmail1">Title</label>
      		<input type="email" ng-model="user.title" class="form-control" name="mail_address" required="required" placeholder="Title" />
    	</div>
    	<div class="form-group col-md-5">
      		<label for="exampleInputEmail1">First Name</label>
      		<input type="text" ng-model="user.f_name" class="form-control" name="password" required="required" placeholder="First Name"/>
    	</div>
    		<div class="form-group col-md-5">
      		<label for="exampleInputEmail1">Last Name</label>
      		<input type="text" ng-model="user.l_name" class="form-control" name="password" required="required" placeholder="Last Name"/>
    </div>
    <div class="form-group col-md-7">
      <label for="exampleInputEmail1">Email Address</label>
      <input type="text" ng-model="user.email" class="form-control" name="password" required="required" placeholder="Email Address"
      />
    </div>
    <div class="form-group col-md-2">
    <label for="">User Level</label>
      <label for="" ng-if="user.usertype.name=='Administrator'" class="label identifier administrator">{{user.usertype.name}}</label>
       <label for="" ng-if="user.usertype.name=='Publisher'" class="label identifier publisher">{{user.usertype.name}}</label>
			<select ng-show="!user.usertype.name" name="" id="" ng-model="user.usertype_id" class="form-control">
				<option value="">Select User Level</option>
				<option value="{{option.id}}" ng-repeat="option in options">{{option.name}}</option>
			</select>
    </div>

	</div>
    <a ng-show="!new_user_flag" class="btn btn-default" ng-click="editUser()"><i class="ion-edit"></i>Edit</a>
		<a ng-show="new_user_flag" class="btn btn-add" ng-click="addUser()"><i class="ion-plus-round"></i>Register</a>
		<a ng-show="new_user_flag" class="btn btn-view" ng-click="resetList()"><i class="ion"></i>Back to Users</a>
 </form>
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
