<div class="content full">
  <form action="">
    <a style="float:right" ng-if="action=='edit'" href="" class="btn btn-view" ng-click="resetArticle()"><i class='fa fa-plus'></i>New Article</a>
    <div class="form-group">
      <label>Title</label>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-header"></i></span>
        <input ng-model="article.title" class="form-control" required="required" placeholder="Title" />

      </div>
    </div>

    <label>Body</label>
    <textarea froala ng-model="article.body"></textarea>
    <!-- <textarea froala rows="5" ng-model="article.body" class="form-control"  required="required" placeholder="Body"></textarea> -->


    <div class="form-group">
      <label>Type</label>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-tag"></i></span>
        <input ng-model="article.type" class="form-control"  required="required" placeholder="Type" />

      </div>
    </div>
    <a ng-if="action=='add'" href="" class="btn btn-add" ng-click="addArticle()"><i class='fa fa-plus'></i>Add Article</a>
    <a ng-if="action=='edit'" href="" class="btn btn-add" ng-click="editArticle()"><i class='ion-edit'></i>Edit Article</a>
  </form>

  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>
