<form action="">
  <div class="form-group">
    <label>Title</label>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-header"></i></span>
      <input type="email" ng-model="article.title" class="form-control" required="required" placeholder="Title" />

    </div>
  </div>

  <div class="form-group">
    <label>Body</label>
      <textarea rows="5" type="email" ng-model="article.body" class="form-control"  required="required" placeholder="Body" />
  </div>

  <div class="form-group">
    <label>Type</label>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><i class="fa fa-tag"></i></span>
      <input type="email" ng-model="article.type" class="form-control"  required="required" placeholder="Type" />

    </div>
  </div>
  <a href="" class="btn btn-add" ng-click="addArticle()"><i class='fa fa-plus'></i>Add Article</a>
</form>

{{scope.article}}
