<section id="carousel-container">
  <carousel interval="2000">
    <slide ng-repeat="slide in slides" active="slide.active">
      <img ng-src="{{slide.image}}" style="margin:auto;">
      <div class="carousel-caption">
        <p>{{slide.text}}</p>
      </div>
    </slide>
  </carousel>
</section>

<div class="row">
  <section class="content full">

    <h1>{{content.welcome.name}}</h1>
    <div class="description" ng-bind-html="content.welcome.body">
    </div>
  </section>
  <section class="content small">
    <h1>{{content.services.name}}</h1>
    <div class="description" ng-bind-html="content.services.body">
    </div>
  </section>
  <section class="content small">
    <h1>{{content.customers.name}}</h1>
    <div class="description" ng-bind-html="content.customers.body">
    </div>
  </section>
  <section class="content small">
    <h1>{{content.contact.name}}</h1>
    <div class="description" ng-bind-html="content.contact.body"></div>
  </section>
</div>
