<table>
  <thead>
    <th>Name</th>
    <th>Body</th>
    <th>Action</th>
  </thead>
  <tbody>
    <tr ng-repeat="item in about">
      <td>{{item.about_type}}</td>
      <td>
        <textarea froala="froalaOptions" ng-model="item.about_body" ng-bind-html="item.body"></textarea></td>
      <td>
        <div class="btn-group btn-group-sm">
          <a href="" class="btn btn-warning" ng-click="editSiteContent(item)">Edit</a>
          <a href="" class="btn btn-danger" ng-click="disableSiteContent(item)">Disable</a>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot><td></td></tfoot>
</table>
