<table>
  <thead>
    <th style="width:20%">Name</th>
    <th style="width:65%">Body</th>
    <th>Active</th>
    <th>Action</th>
  </thead>
  <tbody>
    <tr ng-repeat="item in content">
      <td><input type="text" class='form-control' ng-model="item.name"></td>
      <td>
        <textarea froala="froalaOptions" ng-model="item.content[0].body" ng-bind-html="item.body"></textarea>
      </td>
      <td>
        <div ng-if="item.active==0" class="label label-danger">Inactive</div>
        <div ng-if="item.active==1" class="label label-success">Active</div>
      </td>
      <td>
        <div class="btn-group btn-group-sm grey">
          <a href="" ng-click="editSiteContent(item)"><i class="ion-edit"></i></a>
          <a ng-if="item.active==1" href="" ng-click="disableSiteContent(item)"><i class="ion-minus-circled"></i></a>
          <a ng-if="item.active==0" href="" ng-click="enableSiteContent(item)"><i class="ion-ios-bolt"></i>Enable</a>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot><td></td></tfoot>
</table>
