<table>
  <thead>
    <th>Name</th>
    <th>Order</th>
    <th>Linked Content</th>
    <th>Active</th>
    <th>Action</th>
  </thead>
  <tbody>
    <tr ng-repeat="item in list">
      <td>{{item.name}}</td>
      <td>{{item.order}}</td>
      <td>{{item.content_id}}</td>
      <td>{{item.active}}</td>
      <td>
        <div class="btn-group btn-group-sm">
          <a href="" class="btn btn-warning">Edit</a>
          <a href="" class="btn btn-danger">Disable</a>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot><td>Feet</td></tfoot>
</table>
