<div ng-controller="fileCtrl">

  <a class="btn btn-add" ngf-multiple="true" ngf-select ng-model="slides"><i class="fa fa-upload"></i>Upload Image</a>
  <a class="btn btn-view" ui-sref="admin.slides.list" href=""><i class="ion-eye"></i>View Image</a>
  <!-- <div class="btn" ngf-select ngf-change="upload($files)">Upload on file change</div> -->
  <div class="row">
    <div class="drop-box-container">
      <div ngf-drop ng-model="slides" class="drop-box"
      ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
      ngf-accept="'.jpg,.png'">Drop Images here</div>
      <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
    </div>
    <div class="image-thumbnail">
      <h4>Image thumbnail:</h4>
      <img ngf-src="files[0]" ngf-default-src="/thumb.jpg">
      <div class="progress">
        <div ng-init="progress.percentage=0" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{progress.percentage}}%;">
          {{progress.percentage}}%
        </div>
      </div>
      {{progress.file}}
    </div>

  </div>

  <!--   Audio preview: <audio controls ngf-src="files[0]" ngf-accept="audio/*"></audio>
  Video preview: <video controls ngf-src="files[0]" ngf-accept="video/*"></video> -->
</div>
