<h3>Slides Page

  <a style="float:right" href="" ng-if="(level == 'admin')" class="btn btn-add" ui-sref="admin.slides.add"><i class='fa fa-plus'></i>Add Slide</a>

</h3>
<div class="ui cards">
  <div class="card" ng-repeat="image in slides.data" ng-if="image.path!=''">
    <div class="image">
      <img src="{{image.uri}}">
    </div>
    <div class="content">
      <a class="header">{{image.name}}</a>
      <div class="meta">
        <span class="date">Joined in 2014</span>
      </div>
      <div class="description">
      </div>
    </div>
    <div class="extra content">
      <a href="" ng-click="archiveSlide(image)"><i class='icon archive'></i>Archive</a>
      <a href="" ng-click="removeSlide(image)"><i class='icon remove'></i>Remove</a>
    </div>
  </div>

</div>
