<h3>Downloads Page

<a style="float:right" href="" ng-if="(level == 'admin')" class="btn btn-add" ui-sref="admin.files.add"><i class='fa fa-plus'></i>Add File</a> 

</h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Source</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="file in files.data" ng-if="file.name.path!=''">
      <td>{{file.name.name}}</td>
      <td>
        <img class="img-responsive" ng-if="file.mime == 'image/png' || file.mime == 'image/jpeg'
        "src="{{file.uri}}" alt="">

          <a ng-if="file.mime == 'application/pdf' " href="{{file.uri}}">{{file.name.name}}</a>
        </td>
    </tr>
  </tbody>
  <tfoot></tfoot>
</table>
